body { background: #f1b6e5; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 36px; display: flex; }
.block-helper-0 { color: #62ffcc; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #a8ddd9; font-size: 21px; margin-bottom: 5px; }
.block-shipping-2 { color: #e026df; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #ea9d31; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #408218; font-size: 20px; margin-bottom: 5px; }
.block-user-5 { color: #4f0b; font-size: 15px; margin-bottom: 5px; }
.block-product-6 { color: #4e15a8; font-size: 13px; margin-bottom: 5px; }
.block-token-7 { color: #388990; font-size: 17px; margin-bottom: 5px; }
.block-shipping-8 { color: #61431c; font-size: 21px; margin-bottom: 5px; }
.block-uploader-9 { color: #d380c0; font-size: 17px; margin-bottom: 5px; }
.block-auth-10 { color: #a0267; font-size: 20px; margin-bottom: 5px; }
.block-product-11 { color: #ec4ee5; font-size: 12px; margin-bottom: 5px; }